In [1]:
#W2A1

print("Hello World")

Hello World

In [4]:
#W2A1

name = input()
print("Hello!", name)

 vancuong

Hello! vancuong

In [17]:
#W2A3

a = int(input("a ="))
b = int(input("b ="))
c = a/b
print()

print(a, "+", b, "=", a+b)
print(a, "-", b, "=", a-b)
print(a, "x", b, "=", a*b)
print(a, "//", b, "=", a//b)
print(a, "%", b, "=", a%b)
print(a, "/", b, "=", round(c,2))

a = 46
b = 56

46 + 56 = 102
46 - 56 = -10
46 x 56 = 2576
46 // 56 = 0
46 % 56 = 46
46 / 56 = 0.82

In [18]:
#W2A3
a, b = map(int, input().split())
c = a/b
print()

print(a, "+", b, "=", a+b)
print(a, "-", b, "=", a-b)
print(a, "x", b, "=", a*b)
print(a, "//", b, "=", a//b)
print(a, "%", b, "=", a%b)
print(a, "/", b, "=", round(c,2))

 123 456

123 + 456 = 579
123 - 456 = -333
123 x 456 = 56088
123 // 456 = 0
123 % 456 = 123
123 / 456 = 0.27

In [12]:
#W2A4

a1, b1, c1, a2, b2, a3 = map(float, input().split())

tbc = ((a1+b1+c1) + (a2+b2)*2 + a3*3) / 10

print ("Điểm trung bình của môn học:", round(tbc,1))

 9.5 8.7 9.25 10 7.75 9.25

Điểm trung bình của môn học: 9.1

In [16]:
#W2A5

a, b = map(int, input().split())
kq = a ** b

print(a, "^", b, "=", kq)

 2 3

2 ^ 3 = 8

In [24]:
#W2A6

s = input("Nhập chữ cái:")

print("Mã Unicode của", s +  ":" , ord(s))
s_hoa = s.upper()

print("Kí tự in hoa tương ứng của", s + ":", s_hoa)

Nhập chữ cái: r

Mã Unicode của r: 114
Kí tự in hoa tương ứng của r: R

In [25]:
#W2A7

A = ((13 ** 2) * 3) + 5
B = 13 ** 2 * 3 + 5

print("A =", A)
print("B =", B)

A = 512
B = 512

In [27]:
#W2A8

c = float(input("Nhập theo thang Celcius:"))
f = 9/5 * c + 32

print("Nhiệt độ theo thang Fahrenheit:", round(f,2))

Nhập theo thang Celcius: 14.2

Nhiệt độ theo thang Fahrenheit: 57.56

In [28]:
#W2A9

x = float(input("Chiếc đồng hồ có giá:"))

s = x + 10 + x * 0.4

print("Tổng số tiền mà Đạt phải trả để mua đồng hồ là:", round(s,2))

Chiếc đồng hồ có giá: 5.6

Tổng số tiền mà Đạt phải trả để mua đồng hồ là: 17.84

In [1]:
#W2A10

a, b, c = map(str, input().split())

print("Hi " + c + ", " + b + " and " + a + ".")

 Bob Alice Helen

Hi Helen, Alice and Bob.

In [3]:
#W2A11

h, m = map(int, input().split())
s = h * 60 * 60 + m * 60

print(s)

 1 2

3720

In [5]:
#W2A12

n = int(input("Nhập n:"))

print("Số miếng dán cần thiết:", n*n*6)

Nhập n: 2

Số miếng dán cần thiết: 24

In [6]:
#W2A13

a, b = map(int,input().split())

print((a*b) % 10)

 3 4

2

In [7]:
#W2A14

a, b = map(int,input().split())
a, b = b, a

print("a =", a)
print("b =", b)

 2 3

a = 3
b = 2

In [10]:
#W2A15

n = int(input("Nhập n:"))
s = 6 * n * (n - 1) +1
s = int(s)
print("Số sao thứ " + str(n) + ": " + str(s))

Nhập n: 3

Số sao thứ 3: 37

In [11]:
#W2A16

lst = ["Spring", "Summer", "Autumn", "Winter"]

for i in lst:
    print(i)

Spring
Summer
Autumn
Winter

In [12]:
#W2A17

s = ""

for i in range (3):
    s = ""
    for k in range (2*i + 1):
        s += "*"
    print(s)

*
***
*****

In [16]:
#W2A18

print("### # #   ### ###")
print(" #  #  #   #   #")
print(" #  #   #  #   #")
print(" #  #  #   #   #")
print(" #  # #    #   #")

### # #   ### ###
 #  #  #   #   #
 #  #   #  #   #
 #  #  #   #   #
 #  # #    #   #

In [17]:
#W2A19

lst = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for i in lst:
    print(i)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [18]:
#W2A20

lst = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for i in lst:
    print(i)

January
February
March
April
May
June
July
August
September
October
November
December

In [19]:
#W2A21

for i in range (10):
    print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world